body {
  margin: var(--metric-box-spacing);
}
:is(h1, h2, h3, p, li, article) {
  max-inline-size: initial;
  margin-block-start: var(--metric-box-spacing);
}
@media (min-width: 500px) {
  article {
    column-count: 2;
  }
}
